<div class="container padding-vert-20">
    <!-- scoll to top -->
    <a href="#" class="scrollup" id="scrollup"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <div class="row">
        <!-- Sample Menu -->
        <div class="col-md-3 ">
            <h3 class="margin-bottom-10">Thanks to</h3>
            <ul class="menu">
                <li>
                    <a class="fa-code" href="https://nodejs.org/en/">Nodejs</a>
                </li>
                <li>
                    <a class="fa-database" href="https://www.mongodb.com/">Mongodb</a>
                </li>
                <li>
                    <a class="fa-css3" href="#">Substance Template</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- End Sample Menu -->
        
        <!-- Contact Details -->
        <div class="col-md-3">
            <h3 class="margin-bottom-10">Contact Details</h3>
            <ul class="menu">
                    <li>
                        <a class="fa-facebook-square" href="https://www.facebook.com/tinh96nb">Facebook</a>
                    </li>
                    <li>
                        <a class="fa-envelope-o" href="mailto:phamductinhkma@gmail.com">Gmail</a>
                    </li>
                    <li>
                        <a class="fa-github" href="https://github.com/Tinh96nb">Github</a>
                    </li>
                </ul>
        </div>
        <!-- End Contact Details -->
        <!-- Disclaimer -->
        <div class="col-md-3 ">
            <h3 class="margin-bottom-10">Quote</h3>
            <p> 
                    A dream you dream alone is only a dream. A dream you dream together is reality.
                    
                    <br><strong>John Lennon</strong></p>
            <div class="clearfix"></div>
        </div>
        <!-- End Disclaimer -->
        <!-- Thumbs Gallery -->
        <div class="col-md-3 ">
            <h3 class="margin-bottom-10">Image Post</h3>
            <div class="thumbs-gallery">
                
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- End Thumbs Gallery -->
        <div class="clearfix"></div>
    </div>
</div>