<div class="row" id="menu">
    <div class="col-md-3 margin-top-10">
        <div class="logo">
            <a href="/" title="Slogan">
                <h3 class="animate fadeIn">Blog
                    <span class="txt-rotate" data-period="2000" data-rotate='[ "First.", "simple.", "Share Exp.", "4fun." ]'></span>
                </h3>
            </a>
        </div>
    </div>
    <div class="col-md-9 margin-top-10">
        <div id="hornav" class="pull-right visible-lg">
            <ul class="nav navbar-nav">
                <li><a href="/" class="waves-effect">Home</a></li>
                <li><span class="waves-effect">Front-end</span>
                    <ul>
                        <li><a href="/category/html-css">Html - Css</a></li>
                        <li><a href="/category/js-jquery">JavaScript- Jquery</a></li>
                        <li><a href="">Bootstrap</a></li>
                         <li><a href="">AngularJs</a></li>
                    </ul>
                </li>
                <li><span>CMS</span>
                    <ul>
                        <li><a href="/category/wordpress">WordPress</a></li>
                    </ul>
                </li>
                <li><span>PHP FrameWork</span>
                    <ul>
                        <li><a href="/category/laravel">Laravel</a></li>
                        <li><a href="/category/zend-2">Zend2</a></li>
                    </ul>
                </li>
                <li><span>Nodejs</span>
                    <ul>
                        <li><a href="/category/nodejs">Nodejs cơ bản</a></li>
                        <li><a href="">Express module</a></li>
                    </ul>
                </li>
                <li><a href="/" class="waves-effect">Góc Xiaolin</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>