<!-- Footer Menu -->
<div class="container">
    <div class="row">
        <div id="copyright" class="col-md-12 text-center">
            <p>(c) 2017 Design by PDT</p>
        </div>
    </div>
</div>